@charset "utf-8";

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 125vh;
	background: #c2041e;
}

.container{
	width: 1160px;
	height: inherit;
	margin: 0 px auto;
}


/*头部样式开始*/
.header{
	padding-left: 192.5px;
	margin: 40px;
}
.header1{
	height: 50px;
	background-color:#c2041e;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 25px 10px 0px 10px;
	box-sizing: border-box;
}
.header-logo{
	float: left;
	position: absolute;
	top: 17px;
}
.topnav{
	width: 200px;
	height: 23px;
	float: right;
	line-height: 23px;
	color: #000000;
	text-align: center;
}
/*头部样式结束*/


/*导航栏样式开始*/
.nav{
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	display: flex;
	list-style: none;
	position:inherit;
	border-radius: 5px;
	padding: 0px 10px;
	justify-content: space-between;
	transition: 0.6s;
	}
.nav-1{
	width: 200px;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color:black;
	text-decoration: none;
	transition: .3s; 
	position: relative;
	line-height: 50px;
	z-index: 1;
}
.bg{
	position:absolute;
	margin-left:248px ;
	float: right;
	width: 162px;
	height: 50px;
	background-color:#FFFFFF;
	border-radius: 5px;
	transition: .3s;
}
.nav-1:hover{
	font-weight: bold;
	transform: scale(1.3);
}

/* .nav-1:nth-child(1):hover ~.bg{
	left: -160px;
}
.nav-1:nth-child(2):hover ~.bg{
	left:62px;
}
.nav-1:nth-child(3):hover ~.bg{
	left:300px;
}
.nav-1:nth-child(4):hover ~.bg{
	left:540px;
}
.nav-1:nth-child(5):hover ~.bg{
	left:780px;
} */
/*导航栏样式结束*/

/*banner主体内容开始*/

.about{
	height: 605px;
	width: 1140px;

	margin-right: auto;
	background:#FFFFFF;
	font-size: 18px;
}
.title1{
	height: 40px;
	width:1134px;
	margin-top: 40px;
	color:#FFFFFF;
	line-height: 40px;
	background-color:#c2041e;
	text-indent:20px;
	text-align: left;
	letter-spacing: 5px;
	border: 3px solid #FFFFFF;
}
.title1 span{
	font-size: 10px;
	color: #000000;
	position: absolute;
}
.imgAx{
	position: relative;
	width:350px;
	height: 500px;
	border: 0px 20px solid #FFFFFF;
	top:10px;
	margin: 25px 15px;
}
.about-content1{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 500px;
	width:760px;
	float: right;
	position:relative;
	top:-520px;
	font-size: 10px;
}
table{
	width: 760px;
	height: 500px;
	margin: 0px 20px 0px ;
	align-content: center;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px solid #c2041e;
}
td{
	padding-right: 40px;
}
tr:nth-child(1){
	border-top: 2px solid #c2041e;
}
tr:nth-child(15){
	border-bottom: 2px solid #c2041e;
}
td:nth-child(1),td:nth-child(3){
	font-weight: bold;
}
.about1{
	height: 840px;
	width: 1140px;

	margin-right: auto;
	background:#FFFFFF;
	font-size: 18px;
}
.about-content2{
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	height: 500px;
	width:1100px;
	float:left;
	position:relative;
	top:-400px;
	font-size: 15px;
	left: 20px;
}
.about-content3{
	margin-top: 30px;
	line-height: 30px;
}
.about-content3 h4{
	font-size: 13px;
}
.bor{
	width: 160px;
	height: 22px;
	border-bottom: 2px solid #c2042e;
    margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}







/*精彩剧集部分开始*/

/*footer开始*/
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color:#FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:  #c2041e;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #c2041e;
	padding-top: 60px;
	padding-bottom: 60PX;
}
/*footer结束*/







