@charset "utf-8";

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 125vh;
	background: #c2041e;
}

.container{
	width: 1160px;
	height: inherit;
	margin: 0 px auto;
}


/*头部样式开始*/
.header{
	padding-left: 192.5px;
	margin: 40px;
}
.header1{
	height: 50px;
	background-color:#c2041e;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 25px 10px 0px 10px;
	box-sizing: border-box;
}
.header-logo{
	float: left;
	position: absolute;
	top: 17px;
}
.topnav{
	width: 200px;
	height: 23px;
	float: right;
	line-height: 23px;
	color: #000000;
	text-align: center;
}
/*头部样式结束*/


/*导航栏样式开始*/
.nav{
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	display: flex;
	list-style: none;
	position:inherit;
	border-radius: 5px;
	padding: 0px 10px;
	justify-content: space-between;
	transition: 0.6s;
	}
.nav-1{
	width: 200px;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color:black;
	text-decoration: none;
	transition: .3s; 
	position: relative;
	line-height: 50px;
	z-index: 1;
}
.bg{
	position:absolute;
	float: right;
	margin-left: 730px;
	width: 162px;
	height: 50px;
	background-color:#FFFFFF;
	border-radius: 5px;
	transition: .3s;
}
.nav-1:hover{
	font-weight: bold;
	transform: scale(1.3);
}
/* .nav-1:nth-child(1):hover ~.bg{
	left: -658px;
}
.nav-1:nth-child(2):hover ~.bg{
	left:-420px;
}
.nav-1:nth-child(3):hover ~.bg{
	left:-182px;
}
.nav-1:nth-child(4):hover ~.bg{
	left: 56px;
}
.nav-1:nth-child(5):hover ~.bg{
	left:294px;
} */
/*导航栏样式结束*/

/*banner大图部分开始*/

/*banner大图部分结束*/


/*主题内容样式开始*/
.text{
	display: flex;
	justify-content: center;
	align-items: center;
	background:  #c2041e;
	position:relative;
	width: 1140px;
	flex-wrap: wrap;
	margin: 30px;
	left:-15px;
}
.card{
	position: relative;
	width: 275px;
	height: 255px;
	background: #FFFFFF;
	margin: 30px 10px;
	padding: 0px 30px 40px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 202px 202px rgba(0,0,0,0,5);
	transition: 0.3s ease-in-out;
}
.card:hover{
	height:810px;
	width: 275px;
	top:-40px;
}
.imgBx{
	position: relative;
	width: 275px;
	height: 370px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img{
	width: 100%;
	border-radius: 4px;
}

.card .content{
	position: relative;
	margin-top: -140px;
	padding:0px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.card:hover .content{
	visibility:visible;
	opacity: 1;
	margin-top: 0px;
	transition-delay: 0.3s;
}
/*主题内容样式结束*/


/*衍生小说部分开始*/

.head{
	display: flex;
	justify-content: center;
	align-items: center;
	background:#FFFFFF;
	border-radius: 5px;
	position:relative;
	width: 350px;
	flex-wrap: wrap;
	margin: 140px 0px 30px;
	left:395px;
}
.about{
	height: 268px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	background:#FFFFFF;
	font-size: 18px;
}
.title1{
	height: 40;
	width:1140px;
	color:#FFFFFF;
	line-height: 40px;
	background-color:#c2041e;
	text-indent:20px;
	text-align: left;
	letter-spacing: 5px;
}
.title1 span{
	font-size: 10px;
	color: #000000;
	position: absolute;
}
.imgAx{
	position: relative;
	width:290px;
	height: 200px;
	border: 0px 10px solid #FFFFFF;
	top:10px;
}
.about-content1{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 200px;
	width:830px;
	float: right;
	position:relative;
	top:-200px;
	font-size: 10px;
}
	

/*衍生小说部分结束*/

/*精彩剧集部分开始*/
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #c2041e;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.card1 {
	width: auto;
	height: auto;
	max-width: 350px;
	max-height: 350px;
}
.thumbnail {
	width: 23%;
	height: 600px;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #c2041e;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #c20414;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color:#000000;
	text-align: left;
	padding-left: 20px;
	font-size: 13px;
	line-height: 25px;
}
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
/*精彩剧集部分开始*/

/*footer开始*/
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color:#FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:  #c2041e;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #c2041e;
	padding-top: 60px;
	padding-bottom: 60PX;
}
/*footer结束*/







